
/* 640 */

@media (max-width: 640px) {
    html {
        font-size: 52.5%;
    }
}

/* 540 */

@media (max-width: 540px) {
    html {
        font-size: 45%;
    }
}

/* 480 */

@media (max-width: 480px) {
    html {
        font-size: 30%;
    }
}