
/* 640 */

@media (max-width: 640px) {

    html {
        font-size: 52.5%;
    }

}

/* 540 */

@media (max-width: 540px) {

    html {
        font-size: 45%;
    }

}

/* 480 */

@media (max-width: 480px) {

    html {
        font-size: 36%;
    }

}

/* 360 */

@media (max-width: 360px) {

    html {
        font-size: 31%;
    }

    .main_badge {
        line-height: 2.7rem !important;
    }

    .badge {
        line-height: 2.7rem !important;
    }

    .tab_cont_slide_badge {
        line-height: 2.7rem !important;
    }
}

/* 320 */

@media (max-width: 320px) {

    html {
        font-size: 27%;
    }

}